services:
  - type: web
    name: land-pricinggom
    env: docker
    plan: free
    autoDeploy: true
    dockerfilePath: ./Dockerfile
    envVars:
      - key: GOOGLE_API_KEY
        sync: false
      - key: SECRET_KEY
        generateValue: true